<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
       <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
  <appSettings>
    <add key="carpetaInicial" value="C:\GrupoSP\FAE08R05\DBF20\"/>
    
    <add key="driver" value="MSOLEDB"/> <!--VFPOLEDB / MSOLEDB-->
    
    <!-- Ficheros: Indicar con un * si se quiere actualizar todos los ficheros existentes en la ruta. Si solo se quieren ciertos ficheros, indicarlos incluyendo la extensión y separados con # -->
    <!--<add key="Ficheros" value="Facclit.dbf#Facprot.dbf#Recibos.dbf#Recibosp.dbf#Remesas.dbf"/>-->
    <add key="Ficheros" value="*"/>
    
    <!--Claves primarias: Por defecto será el número de Factura. Por ejemplo Remesas tiene otra (NNUMREM). Hay que indicar todas las que sean diferentes-->
    <add key="default_PK" value="NNUMFAC"/>
    <add key="Remesas.dbf_PK" value="NNUMREM"/>

  </appSettings>
</configuration>
